.heading h1 {
    font-family: 'VT323', monospace;
    font-size: 72px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.grid-container {
    box-sizing: border-box;
    display: grid;
    gap: 0px;
    height: 480px;
    width: 480px;
    background-color: #EBECF0;
    border: black 10px solid;
}

.grid-item {
    box-sizing: border-box;
}

