.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.controls {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    gap: 0px;
    height: 640px;
    width: 640px;
    border-top: black 1px solid;
    border-left: black 1px solid;
}

.grid-item {
    background-color: crimson;
    box-sizing: border-box;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
}
